@import 'fonts';
@import 'settings.scss';

body {
	background-color: #f2f2f2;
	color: $white;
	font-family: $font;
	font-size: 15px;
	margin: 0;
}

/* Global Wrapper */

.wrapper {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	overflow-x: hidden;
	user-select: none;

	/* Mobile Container */

	> .mobile {
		display: flex;
		flex-direction: column;

		max-width: 425px;
		min-height: 100vh;
		width: 100%;

		overflow-x: hidden;

		margin-inline: auto;

		background-color: $blue;

		/* Content Wrapper */
		
		> main {
			flex: 1 1 100%;
			z-index: 50;

			padding: (62px + 15px) 15px 0;
		}
	}
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li,
ol {
	list-style: none;
}

button,
input,
textarea {
	outline: none;
}

img {
	display: block;
	width: 100%;
}

::selection {
	background-color: $green;
	color: $white;
}

html {
	scroll-behavior: smooth;
}

/* Header Styles */
@import "../../components/Header";
/* Product Styles */
@import "../../components/ProductCard";