@import 'fonts';
@import 'settings.scss';

body {
	background-color: $black;
	color: $white;
	font-family: $font;
	font-size: 15px;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li,
ol {
	list-style: none;
}

button,
input,
textarea {
	outline: none;
}

img {
	display: block;
	width: 100%;
}

html {
	scroll-behavior: smooth;
}