/* Regular */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url("/assets/fonts/Montserrat/woff/Montserrat-Regular.woff") format('woff');
}

/* Medium */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-display: optional;
	src: url("/assets/fonts/Montserrat/woff/Montserrat-Medium.woff") format('woff');
}

/* Semi-Bold */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-display: optional;
	src: url("/assets/fonts/Montserrat/woff/Montserrat-SemiBold.woff") format('woff');
}

/* Bold */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: optional;
	src: url("/assets/fonts/Montserrat/woff/Montserrat-Bold.woff") format('woff');
}

/* Extra-Bold */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-display: optional;
	src: url("/assets/fonts/Montserrat/woff/Montserrat-ExtraBold.woff") format('woff');
}

/* Black */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-display: optional;
	src: url("/assets/fonts/Montserrat/woff/Montserrat-Black.woff") format('woff');
}