/*

Settings

*/

$font: 'Montserrat', sans-serif;

$white: #ffffff;
$black: #000000;

$green: #05ca81;
$orange: #b8860b;
$pink: #ff7f50;
$gray10: #999999;
$gray20: #555555;
$gray30: #333333;
$blue10: #333E4D;
$blue20: #001f3f;