/*

Settings

*/

$img: '/src/assets/img';
$font: 'Montserrat', sans-serif;

$white: #F2F2F2;
$black: #0D0D0D;

$gray10: #E6E6E6;
$gray20: #CCCCCC;
$gray50: #808080;
$gray80: #333333;
$gray90: #1A1A1A;
$gray95: #141414;

$green: #05CA81;