/*

Header Styles

*/

#header {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;

	> .wrap {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;

		width: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		padding: 16px 0;

		background-color: $blue20;
		box-shadow: 0 4px 4px 0 rgba($black, 0.20);

		&.active {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}

		> .burger {
			position: absolute;
			top: 10px;
			left: 15px;

			z-index: 100;

			transform: translateY(50%);

			> .i {
				position: relative;
				overflow: hidden;

				width: 28px;
				height: 22px;

				> span {
					position: absolute;
					height: 3px;

					background-color: $green;

					transition: transform .5s, right .5s;

					&:first-child {
						top: 0;
						left: 0;

						width: 95%;
					}

					&:nth-child(2) {
						top: 40%;
						left: 0;

						width: 70%;

						transform: translateY(-50%);
					}

					&:nth-child(3) {
						top: 50%;
						right: 100%;

						width: 85%;
						opacity: 0;

						transform: translateY(-50%);
					}
				}

				> .t {
					position: absolute;
					bottom: 0;

					display: inline;
					user-select: none;

					font-size: 8px;
					font-weight: bold;
					line-height: 100%;
					color: $pink;

					transition: bottom .5s, opacity .5s;
				}

				&.active {

					> span {
						&:first-child {
							top: 3px;
							left: -1px;
							width: 15px;
							transform: rotateZ(-45deg) translateY(100%);
						}

						&:nth-child(2) {
							top: 65%;
							left: 1px;
							width: 15px;
							transform: rotateZ(45deg);
						}

						&:nth-child(3) {
							opacity: 1;
							right: 0;
						}
					}

					> .t {
						opacity: 0;
						bottom: -100%;

						transition: bottom .1s, opacity .1s;
					}
				}
			}
		}

		> .logo {
			font-size: 24px;
			font-weight: bold;

			z-index: 100;
		}

		> aside {
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;

			&.active {
				> .top ,
				> .body {
					left: 0;

					transition: left .5s;
				}
			}

			> .top {
				position: fixed;
				top: 0;
				left: -100%;

				z-index: 52;

				width: 100%;
				height: 62px;

				background-color: $blue20;
				transition: left .3s;
			}

			> .body {
				position: fixed;
				top: 0;
				left: -100%;

				width: 100%;
				min-height: 100vh;
				height: 100%;

				background-color: $blue20;
				overflow-x: hidden;
				z-index: 51;

				transition: left .3s;

				> .wrap {
					max-width: calc(100vw - 30px);
					width: 100%;

					margin-inline: auto;
					padding: 80px 0 20px;

					/*

					Search

					*/

					> .search {
						display: flex;
						align-items: center;

						background-color: $blue10;
						box-shadow: 0 2px 4px 0 rgba($black, 0.25);

						padding: 13px 15px;
						border-radius: 50px;

						margin-bottom: 30px;

						> .i {
							width: 20px;
							height: 20px;

							color: $gray10;
						}

						> input {
							flex: 1 1 100%;

							border: none;
							background: transparent;

							padding: 0 5px 0 7px;

							font-size: 15px;
							font-weight: 500;
							color: $white;

							&::placeholder {
								font-size: 14px;
								font-family: $font;
								font-weight: 500;
								color: $gray10;
							}
						}

						.clean {
							display: none;
						}
					}

					/*

					List

					*/

					> .list {

						> .i {
							display: block;

							padding: 15px;
							margin-bottom: 12px;

							border-radius: 8px;

							background-color: rgba($black, 0.25);
							box-shadow: 0 4px 4px rgba($black, 0.25);

							font-size: 16px;
							font-weight: bold;

							transition: background-color .5s, box-shadow .5s;

							&.active {
								background-color: $green;
								box-shadow: 0 4px 4px rgba($green, 0.25);

								transition: background-color .1s, box-shadow .1s;
							}

							&:last-child {
								margin-bottom: 0;
							}

							> span {
								margin-right: 10px;
							}
						}
					}

					/*

					Info

					*/

					> .info {
						padding-top: 40px;

						> .b {
							padding-bottom: 25px;

							> .t {
								padding-bottom: 15px;

								font-size: 16px;
								font-weight: 700;
							}

							> .v {
								display: flex;
								align-items: center;

								padding-bottom: 5px;

								font-size: 15px;
								font-weight: 500;

								> .i {
									display: flex;
									align-items: center;

									margin-right: 7px;
								}
							}
						}
					}
				}
			}
		}
	}
}
