.imageWrap {
	position: relative;

	width: 100%;
	height: 230px;

	.hash {
		transition: opacity .5s;
		visibility: visible;

		&.dn {
			opacity: 0;
			visibility: hidden;
			height: 0;

			transition: opacity .3s;
		}
	}

	.img {
		width: 100%;
		height: 100%;

		object-fit: cover;

		transition: opacity .5s;
		visibility: visible;

		&.dn {
			opacity: 0;
			visibility: hidden;
			height: 0;

			transition: opacity .3s;
		}
	}
}
